@charset "UTF-8";
/* CSS Document */
body {
	counter-reset: section;
}
body, h1, h2, h3, h4, h5, p, ul, li, a {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}
img {
	max-width: 100%;
}
a {
	text-decoration:none;
	color: #0172B8;
}
a:visited {
	color: #85962A
}
#topcontain {
	height: 100%;
	width: 100%;
	margin:auto;
}
#titlearea {
	width: 80%;
	float: left;
	display: inline;
}
#resourcearea {
	width: 20%;
	float: right;
	display:inline;
}
.sb-toggle-left {
	font-family: Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	text-transform:capitalize;
	list-style-type: none;
	padding-top: 1%;
	padding-left: 2%;
	cursor:pointer;
}
.sb-toggle-right {
	font-family: Helvetica, Arial, sans-serif;
	color: #0172b8;
	cursor:pointer;
	list-style-type:none!important;
}
.sb-toggle-right li {
}
.sb-slidebar {
	padding: 14px;
	color: #fff;
}
#close_slide {
	height: 50px;
	background-color:#005990;
}
#close_slide2 {
	height: 50px;
	background-color:#005990;
}
#slidecontent {
}
#slidecontent h3 {
	padding: 5% 0 3% 5%;
	text-transform: uppercase;
	display: block;
	background-color: #005990;
	border-bottom: 3px solid #005284;
	border-top: 2px solid #086C9E;
}
#slidecontent h3.resources {
	padding: 5% 0 3% 17%;
	text-transform: uppercase;
	display: block;
	background-color: #005990;
	border-bottom: 3px solid #005284;
	border-top: 2px solid #086C9E;
}

.resourceimg {
	background-image: url(../images/resources_icon.png);
	background-repeat:no-repeat;
}
#slidecontent h3.resources.resourceimg:hover {
	background-image: url(../images/resources_icon-over.png);
	background-repeat:no-repeat;
}
.guidanceimg {
	background-image: url(../images/guidance_icon.png);
	background-repeat:no-repeat;
}
#slidecontent h3.resources.guidanceimg:hover {
	background-image: url(../images/guidance_icon-over.png);
	background-repeat:no-repeat;
}
.exampleimg {
	background-image: url(../images/example_icon.png);
	background-repeat:no-repeat;
}
#slidecontent h3.resources.exampleimg:hover {
	background-image: url(../images/example_icon-over.png);
	background-repeat:no-repeat;
}
#slidecontent h3 span {
	text-transform: none;
	font-weight: normal;
	font-size: .75em;
}
#slidecontent h3:hover {
	background: #4CA6DB;
}
#slidecontent ul {
	list-style: none;
}
#slidecontent li {
	color:#C9D1E3;
}
#slidecontent li a {
	color:#C9D1E3;
	display: block;
	padding: .8em .5em;
	padding-left: 12%;
}
#slidecontent li ul li a {
	padding-left: 3.75em;
}

#slidecontent li a:hover {
	background: #4CA6DB;
	color: #fff;
}

.closeimg {
	max-width: 30px;
	cursor: pointer;
}
ul.ximg {
	max-width: 30px;
	float:right;
	margin: 2% 2% 0 0;
}
ul.ximgl {
	max-width: 30px;
	float:left;
	margin: 2% 0% 0 2%;
}
.ximg li, .ximgl li {
	list-style-type: none;
}
.savequit {
	position:absolute;
	bottom: 0;
	width: 100%;
	background:#005990;
	padding: 9% 0;
}
ul.sq {
	width: 80%;
	margin: auto;
}
.sq li {
	list-style-type: none;
	display: inline;
	text-align:center;
	padding: 3% 2% 0 2%;
}
.sq a {
	color:#FFFFFF;
	background-color:#4ea6dc;
	padding: 6% 9%;
}
.sq a:hover {
	background: #0173B8;	
}
.rthead {
	text-align:center;
	padding: 10% 0;
}
.rtheading {
}
#rems5dtool {
	min-height: 60% !important;
	margin: auto;
	position: relative;
}
#menu_row {
	min-height: 30px;
	width: 100%;
	background-color:#5a5a5a;
	border-bottom: 6px solid #0172b8;
}
#menudiv {
	width: 50%;
	float:left;
	display: inline;
}
#rightcontain {
	width: 50%;
	float:right;
	display: inline;
}
#rightmenudiv {
	width: 20%;
	float:right;
	display: inline;
	text-align:right;
}
#listdiv {
	width: 100%;
	float:left;
	display: inline;
}
#listdiv a {
	color:#8e8e8e;
	font-size: .8em;
	font-weight:bold;
}
#listdiv a:hover {
	color:#fff;
}
.ld {
	width: 50%;
	float:right;
	display:inline;
	padding-right: 1%;
	padding-top: 1%;
	text-align: right;
}
.ld li {
	display: inline;
	padding: 0% 1%;
}
#step_row {
	width: 100%;
	background-color:#FFFFFF;
}
#step_title {
	width: 20%;
	background-color:#0172b8;
	margin-bottom: 3%;
	float:left;
	display:inline;
	text-align:center;
	padding-top: .5%;
	padding-bottom: .5%;
}
#step_title h2 {
	color: #fff;
}
#steps {
	width: 80%;
	float: right;
	display: inline;
}
.step6 {
	width: 16.5%;
	float: left;
	display:inline;
	text-align: center;
	background:url(../images/step_right.jpg) top right no-repeat;
	min-height: 35px;
	padding-top: 1.4%;
	padding-bottom: 1%;
}
.activestep {
	background:url(../images/step_bg.png) bottom center no-repeat;
}
.step6 a {
	color:#c3c5c7;
	font-weight:bold;
	width: 100%;
	height: 100%;
	margin-top: 2%;
}
.step6 a:hover {
	color:#828282;
}
.activestep a {
	color:#FFFFFF;
}
.activestep a:hover {
	color:#FFFFFF;
}
.omega {
	background:none;
}
.content {
	position: relative;
	display: block;
	clear: both;
	width: 90%;
	text-align: left;
	font-size: .9em;
	color: #333;
	line-height: 1.4em;
	overflow: scroll;
	margin: 0 auto 100px;
}
.content h1 {
	font-size: 1.3em;
	color: #0172B8;
	margin-top: 0;
	margin-bottom:.7em;
}
.content h2 {
	font-size: 1.1em;
	margin-bottom:.7em;
}
.content h3 {
	font-size:.9em;
	margin-bottom:.3em;
}
.content p {
	margin-bottom: 1em;
}

.counter ol { 
	counter-reset: item; 
	margin-top: 0;
}
.counter li { 
	display: block 
}
.counter li:before { 
content: counters(item, ".") ". "; 
counter-increment: item;
}
.counter ol.nested-zero li:first-child:before { 
content: "1.0. "; 
counter-increment: none;
}
.two-col {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.col-half {
	position: relative;
	display: block;
	width: 48%;
}

.right {
	float: right;
}
.left {
	float: left;
}
input[type=button] {
	position: relative;
	display: block;
    color:#fff;
    background: #0172B8;
	border: none;
    cursor:pointer;
	padding: 6px 12px;
	font-weight: bold;
	font-size: .9em;
	outline: none !important;
}
input[type=button]:hover {
	background: #4CA6DB;
}
#footer {
	position:absolute;
	bottom: 0;
	width: 100%;
	border-top: 4px solid #0172B8;
	padding-top: .5em;
}
#logo {
	width: 15%;
	float:left;
	display:inline;
	padding-left: 1%;
	padding-bottom: 1%;
}
#arrow_nav {
	width: 13%;
	float:right;
	display:inline;
}
#left_arrow {
	width: 30%;
	float:left;
	display:inline;
}
#right_arrow {
	width: 40%;
	float:left;
	display:inline;
}
		.noClicker, .clicker {
		position: relative;
		display: block;
		padding: 6px 0;
		width: 100%;
		text-align: left;
		font-weight:bold;
		}
		
		.clicker:hover {
		cursor:pointer;
		background: #E6E6E6;
		}