﻿@charset "UTF-8";
/* CSS Document */

#map {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
}
#xmark_sm {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	float: right; 
	margin: 0px; 
	color: #0053A0;
	cursor: pointer;
	z-index: 99999;
	} 
	
#tt_sm {
	position: relative;
	display: block;
	border: 1px solid #999999; 
	background: #ffffff; 
	width: 315px; 
	color: #333333; 
	padding:4px; 
	margin: 4px; 
	-moz-box-shadow: 3px 3px 5px #535353;
	-webkit-box-shadow: 3px 3px 5px #535353; 
	box-shadow: 3px 3px 5px #535353; 
	-moz-border-radius: 6px 6px 6px 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px; 
	opacity: 0.85;
	border-radius: 4px 4px 0 0; 

	z-index: 9999; 
	font: 12px/1.5 Helvetica, Verdana, Arial, sans-serif; 
	color: #333;
	} 
#tt_name_sm {
	position: relative;
	display: block;
	float: left; 
	font-size: 1.4em;
	font-weight: bold;
	background: #62bde3;
	padding: 9px 0;
	text-indent: 9px;
	width: 100%;
	z-index: 999;
	color: #fff;
	border-radius: 3px 3px 0 0;
	text-shadow: 0px -1px 0px #333;
	margin-bottom:.4em;
	
	} 
#tt_custom_sm {
	float: left; 
	clear: both; 
	margin: 0px; 
	padding: 0px;
	} 
	
#tt_sm p {
	margin: 0 6px;
}
#tt_sm a {
	position: relative;
	display: block;
	text-indent: 40px;
	height: 40px;
	line-height: 36px;
	color: #333;
	text-decoration: none;
}
#tt_sm a:hover {
	color: #0154A0;
	text-decoration: underline;
}

#tt_sm a.sea {
	background: url(../map_images/icon_SEA.png) top left no-repeat;
}

#tt_sm a.sea:hover {
	background: url(../map_images/icon_SEA-over.png) top left no-repeat;
}

#tt_sm a.legal {
	background: url(../map_images/icon_legal.png) top left no-repeat;
}

#tt_sm a.legal:hover {
	background: url(../map_images/icon_legal-over.png) top left no-repeat;
}

#tt_sm a.assn {
	background: url(../map_images/icon_assn.png) top left no-repeat;
}

#tt_sm a.assn:hover {
	background: url(../map_images/icon_assn-over.png) top left no-repeat;
}

#tt_sm a.fema {
	background: url(../map_images/icon_fema.png) top left no-repeat;
}

#tt_sm a.fema:hover {
	background: url(../map_images/icon_fema-over.png) top left no-repeat;
}

#tt_sm a.ed {
	background: url(../map_images/icon_ed.png) top left no-repeat;
}

#tt_sm a.ed:hover {
	background: url(../map_images/icon_ed-over.png) top left no-repeat;
}		
text {
	font-size: 1.1em !important;
}