.table-responsive {
  width: 100%;
  margin-bottom: 16.5px;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table {
    margin-bottom: 0; }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap; }
  .table-responsive > .table-bordered {
    border: 0; }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0; }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0; }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0; }

.visible-xs {
  display: block !important; }

table.visible-xs {
  display: table; }

tr.visible-xs {
  display: table-row !important; }

th.visible-xs,
td.visible-xs {
  display: table-cell !important; }

.visible-xs-block {
  display: block !important; }

.visible-xs-inline {
  display: inline !important; }

.visible-xs-inline-block {
  display: inline-block !important; }

.hidden-xs {
  display: none !important; }

.rems-toolkit-header .header-container p {
  margin: 0; }

.rems-toolkit-content .right-content {
  padding: 20px; }
  .rems-toolkit-content .right-content h2 {
    font-size: 23px;
    margin-bottom: 10px; }
  .rems-toolkit-content .right-content .first {
    margin: 30px 0 0; }
  .rems-toolkit-content .right-content .last {
    margin: 0 0 30px; }
  .rems-toolkit-content .right-content .content-text {
    padding: 20px;
    width: 100%; }
    .rems-toolkit-content .right-content .content-text h3 {
      margin-bottom: 10px; }
    .rems-toolkit-content .right-content .content-text img {
      float: none;
      margin-right: auto;
      margin-left: auto; }
    .rems-toolkit-content .right-content .content-text .list-wrapper ul {
      margin: 0;
      padding: 0 0 0 15px; }
  .rems-toolkit-content .right-content .map-wrapper {
    margin: 20px 0 30px; }
  .rems-toolkit-content .right-content .image-row-wrap {
    margin: 0; }
    .rems-toolkit-content .right-content .image-row-wrap .text-image .image-wrapper {
      display: block;
      margin-bottom: 20px; }
    .rems-toolkit-content .right-content .image-row-wrap .tools-image {
      margin-bottom: 20px; }
      .rems-toolkit-content .right-content .image-row-wrap .tools-image .tools-image-wrapper {
        display: block;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        width: 90%; }
        .rems-toolkit-content .right-content .image-row-wrap .tools-image .tools-image-wrapper span {
          top: 0; }
      .rems-toolkit-content .right-content .image-row-wrap .tools-image .tools-text-wrapper p {
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
    .rems-toolkit-content .right-content .image-row-wrap .partners-wrapper {
      width: 100%;
      padding: 0;
      text-align: center; }
      .rems-toolkit-content .right-content .image-row-wrap .partners-wrapper .partners-header {
        margin: 0 0 20px 0; }
        .rems-toolkit-content .right-content .image-row-wrap .partners-wrapper .partners-header h4 {
          display: block;
          font-size: 18px;
          text-align: center;
          margin-right: auto;
          margin-left: auto; }
      .rems-toolkit-content .right-content .image-row-wrap .partners-wrapper img {
        width: 150px; }
      .rems-toolkit-content .right-content .image-row-wrap .partners-wrapper ul {
        margin: 0; }
        .rems-toolkit-content .right-content .image-row-wrap .partners-wrapper ul li ul {
          margin-left: -15px; }

.rems-toolkit-footer {
  padding: 20px; }
  .rems-toolkit-footer .col-xs-12 {
    margin: 0 0 15px; }

.rems-toolkit-navigation .sidebar-nav .navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0; }

/*# sourceMappingURL=xsmall.css.map */
