.rems-toolkit-footer {
    
    display: block;
    bottom: 0;
    width: 100%;
    padding: 30px 20px;
    background-color: $header-color;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    
    
    .footer-info {
        font-size: 12px;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        
        a {
            text-decoration: underline;
            color: #fff;
            
            &:hover {
                color: $nav-link-hover;
            }
            
        }
        
    }

    
    
}