.rems-toolkit-navigation {

 
    .sidebar-nav {
        
        .navbar {
           
            
            .navbar-header {
           
                
                .navbar-toggle {
            
                   
               
                    
                    .icon-bar {
                       
                        
                    }
                    
                }
                
                span.navbar-brand {

                }
                    
            }
               
            .navbar-collapse {
                padding-left: 0;
                padding-right: 0;
                
            }
            
                            
            ul {

                
                li {
                 
                    
                    a {

                        
                    }
                }
                
            }
            
            ul.collapse, ul.collapse in {

            
                li {

                    
                    a {
                     
                        
                    }              
                
            }
 
        } 
        
    }
    
    }
}




