.rems-toolkit-navigation {
    display: block;
    background-color: $header-color;
    color: #fff;
    font-family: futura;

  
   a {
       color: #fff;
       
   }
    
    
    .sidebar-nav {
        
        .navbar {
           
            background-color: $header-color;
            
            .navbar-header {
                color: #fff;
                
                .navbar-toggle {
            
                    background-color: #fff;
               
                    
                    .icon-bar {
                        background-color:$header-color !important;
                        
                    }
                    
                }
                
                span.navbar-brand {
                    font-size: 20px;
                    font-family: Futura;
                    display: block;
                }
                    
            }
                     
                            
            ul {
                list-style: none !important;
                margin: 0;
                padding: 0;
                
                li {
                    border-bottom: 1px solid #3c5c76;
                    
                    a {
                    display: block;
                        font-size: 18px;
                   
                    width: 100% !important;
                    margin: 0;
                    padding: 20px 15px;
                        
                         &:hover, &:active{
                           background-color: $nav-list-bg-hover !important;
                       } 
                        
                        &:focus {
                            background-color: $nav-list-bg-hover;
                        }
                        
                    }
                }
                
                li.active {
                    background-color: $nav-list-bg-hover !important;
                }
            }
            
            ul.collapse, ul.collapse in {
                list-style: none;
                margin: 0;
            
                li {
                    background-color: #959da5;
                    border-bottom: 1px solid #3c5c76;
                    
                    a {
                        
                       padding: 20px 40px;
                        text-decoration: none;                      
                        
                    }
                
                 &:first-child {
                    border-top: 1px solid #3c5c76; 
                }
                
                
            }
 
        } 
        
    }
    
    }
}





/* make sidebar nav vertical */ 
@media (min-width: 767px) {
  .rems-toolkit-navigation .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .rems-toolkit-navigation .sidebar-nav .navbar ul {
    float: none;
  }
   .rems-toolkit-navigation .sidebar-nav .navbar ul:not {
    display: block;
  }
  .rems-toolkit-navigation .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .rems-toolkit-navigation .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}