.rems-toolkit-header {
  
         
    h1 {

        font-size: 40px; 
    }
 

    .branding-container{
        
        .title {
           
        }
       
        .logo {
            
            .logo-img {

            
            img {
                
            }
                
            }
            
            .logo-title {
                font-size: 16px;
            }

        }
              
    }
    
    
    .header-container {

        
        p {

            margin: 0;
        }
     
    }
    

       
}


@media only screen and (max-width: 2102px) {
.rems-toolkit-header {
  

    .branding-container{
        
       
        .logo {
            
            
            .logo-title {
                font-size: 12px;
                margin: 5px 0 0;
            }

        }
              
    }
    
       
}
}