.rems-toolkit-header {
    display: block;   
    width: 100%;
    height: 130px;
    padding: 0;
    margin: 0;
    background-color: $header-color;
    overflow: hidden;
    
         
    h1 {
        display: block;
        color: #fff;
        font-family: Futura;

    }

    .col-lg-2 {
        padding: 0;
        margin: 0;
        
    }
    

    .branding-container{
        display: inline-block;
        margin: 0;
        position: relative;
        background-color: $logo-bg-color;
        padding: 10px;
        width: 100%;
        overflow: hidden;
        
        .title {
           // KEEP THIS IN CASE THEY CHANGE THIER MIND display: block;
            display: none;
            margin-bottom: 10px;
            text-transform: uppercase;
            text-align: center;
            font-size: 10px;
            color: #fff;
           
        }
       
        .logo {
            
            display: block;
            min-height: 125px;
            
            .logo-img {
                display: block;
                position: relative;
                width: auto;
                overflow: hidden;

            
            img {
                display: block;
                padding: 0;
                margin: 0;
                max-width:200px;
                border: none;
                
            }
                
            }
            
            .logo-title {
                display: block;
                position: relative;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                margin: 10px 0 0;
                vertical-align: top;
   
            }

        }
              
    }
    
    
    .header-container {
        display: inline-block;
        margin: 0;
        padding: 0 20px;
        text-align: left;
        font-size: 12px;
        color: #fff;
        width: 100%;
        text-transform: uppercase;
        
        p {
           // KEEP THIS IN CASE THEY CHANGE THIER MIND display: block;
            display: block;
            margin: 10px 0;
            font-size: 16px;
            
        }
     
    }
    

       
}