.rems-toolkit-header {
  
         
    h1 {

       font-size: 27px; 
    }
 

    .branding-container{
        
        .title {
           
        }
       
        .logo {
            
            .logo-img {

            
            img {
                
            }
                
            }
            
            .logo-title {

            }

        }
              
    }
    
    
    .header-container {

        
        p {

            margin: 0;
        }
     
    }
    

       
}


@media only screen and (max-width: 960px) {
.rems-toolkit-header {
  

h1 {
   font-size: 25px; 
}
    
       
}
}






@media only screen and (max-width: 1058px) {
.rems-toolkit-header {
  

    .branding-container{
        
       
        .logo {
            
            
            .logo-title {
                font-size: 12px;
                margin: 5px 0 0;
            }

        }
              
    }
    
       
}
}