.rems-toolkit-header {
  
         
    h1 {

    //    font-size: 27px; 
    }
 

    .branding-container{
        
        .title {
           
        }
       
        .logo {
            
            .logo-img {

            
            img {
                
            }
                
            }
            
            .logo-title {

            }

        }
              
    }
    
    
    .header-container {

        
        p {

            margin: 0;
        }
     
    }
    

       
}