$header-color: #35495c;
$logo-bg-color: #19bd9b;
$nav-link-color: #fff;
$nav-link-hover: #efefef;

$nav-link-bg-hover: #5b9cd6;
$nav-list-bg-hover: #5898c5;

$content-bg-color: #e9e9e9;
$content-header-color: #006EBC;
$content-font-color: #333;
$content-link-color: #3498dc;


$partners-bg-color: #acaca1;

$footer-bg-color: #060912;


html, body {
   height: 100%;
    min-height: 100vh;


}

        
    .col-lg-12, .col-xs-12, .col-lg-2, .col-lg-10 {
        padding: 0;

    }
   

    #toolkit-wrap {
        min-height: 90%;
        display: block;

    }
    .row {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }



 // add a small margin to right of object
    .pad-right {
       margin-right: 20px;   
    }

 // add a small margin to left of object
    .pad-left {
       margin-left: 20px;   
    }

.center {
    text-align: center;
    
}

.hide-map {
    display: block;
    
}




