.rems-toolkit-content {
    position: relative;
    display: block;
    clear: both;
    min-height: 100vh;
    background-color: $header-color;
    

    .right-content {
        display: block;
        background-color: $content-bg-color;
        padding: 30px;
        margin: 0;
        min-height: 100vh;
        position: relative;
        
        h2 {
            font-family: Futura;
            font-size: 25px;
            color: $header-color;
            display: block;
            text-align: left;
            margin-bottom: 30px;
        }
        
        .btn-row {
            display: block;
            position:absolute;
            bottom: 10px;
            left: 0;
            padding: 0 30px;
            margin: 30px 0 0;
            width: 100%;
            text-align: right;

            
            .btn {
                color: #fff;
                background-color: $header-color;
                padding: 8px 14px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: normal;
                border: none;
                display: inline-block;

                &:hover {
                    background-color: $content-link-color;

                }

            }
            
            .back {
                margin-right: 20px;
                background-color: $content-link-color;

                &:hover {
                background-color: #0154A0;
                }
            }
        }
        
        .content-text {
            color: $content-font-color;
            background-color: #fff;
            display: block;
            position: relative;
            padding: 30px;
            width: 100%;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);

            
            h3 {
                font-size: 18px;
                display: block;
                margin: 0 0 20px;
                padding: 0;
                font-weight: bold;
            }
            
            h4 {
                font-size: 16px;
                display: block;
                font-weight: bold;
            }
            
            p {
                font-size: 16px;
                display: block;
                line-height: 20px;
            } 
            
            img {
                float: right;
                display: block;
                clear: both;
                margin: 0 15px 15px;
                max-width: 150px;
            }
            
            
            .list-wrapper {
                padding: 10px;
                margin: 0;
                display: block;
                
                
                ul {
                    list-style-type: square;
                    
                    li {
                        line-height: 20px;
                        display: block;
                        margin: 0 0 10px;
                    }
                }
                
                ul.none {
                    list-style: none;
                    
                }
                
                
                
            }
            
        }
        
  
    .map-wrapper {
      display: block;
      text-align: center;
      width: 100%;
        margin: 30px 0;
      
      img {
          position: relative;
          display: block;
          margin-right: auto;
          margin-left: auto;
          border: 0;
         
      }
      
  }      
        
        
        
        .image-row-wrap {
            display: block;
            width: 100%;
            margin: 30px 0 50px;
    
            
            .text-image {
                position: relative;
                display: block;
                text-align: left;
                
            .image-wrapper {
                display: block;
                width: 280px;
                background-color: #fff;
                text-align: center;
                margin-right: auto;
                margin-left: auto;
                padding: 0 0 30px;
                overflow: hidden;
                border-radius: 5px 5px 5px 5px;
                -moz-border-radius: 5px 5px 5px 5px;
                -webkit-border-radius: 5px 5px 5px 5px;
                
              .image-header {
                  display: block;
                  text-align: center;
                  font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    width: 100%;
                    min-height: 88px;
                    margin: 0 0 20px;
                    padding: 10px;
                    border-radius: 5px 5px 0px 0px;
                    -moz-border-radius: 5px 5px 0px 0px;
                    -webkit-border-radius: 5px 5px 0px 0px;              
                  
              }
                
               .light-blue {
                   background-color: #4398c7;
                   
               }
                
                .lightest-blue {
                    background-color: #8bc4d8;
                    min-height: 60px;
                    
                }
                
               .olive { 
                   background-color: #748a39;
                   min-height: 60px;
               }
                
                .orange {
                    background-color: #ed7d31;
                    
                }
                
                .mid-blue {
                    background-color: #0077a0;
                }
                
                .white {
                    background-color: #fff;
                    color: $content-font-color;
                    min-height: 65px;
                    
                    a { 
                       color: $content-font-color!important; 
                    }
                }
                
                
                
            a {
                display: block;
                color: #fff;
                text-decoration: none; 
            }
 
                     
              span {
                text-align: left;
                font-size: 200px;
                font-weight: bold;
                color: $content-font-color;
                position: absolute;
                top: 20px;
                width: 280px;
                margin: 0;
                display: block; 
                opacity: 0.3;
                filter: alpha(opacity=30); /* For IE8 and earlier */                
            }                
            
            img {
                display: block;
                padding: 0;
                margin: 10px 0 0;
                width: 100px;
                height: 100px;
                margin-right: auto;
                margin-left: auto;

                  &:hover, &:active, &:focus {
 
                } 
            }
                
                
            }
            
            }
            
            .tools-image {
                 position: relative;
                display: block;
                text-align: left;
                
                a {
                  display: block;
                  text-decoration: none;
                  color: $content-font-color; 
                    
                }
                
                .tools-image-wrapper {
                    display: block;
                    width: 80%;
                    margin: 0 30px 30px;
                    background-color: #fff;
                    text-align:left;
                    padding: 20px 0;
                  border-radius: 5px 5px 5px 5px;
                -moz-border-radius: 5px 5px 5px 5px;
                -webkit-border-radius: 5px 5px 5px 5px;
                    min-height: 130px;
                    
                 .tools-header {
                     display: block;
                     width: 100%;
                     min-height: 60px;
                    border-radius: 5px 5px 0px 0px;
                    -moz-border-radius: 5px 5px 0px 0px;
                    -webkit-border-radius: 5px 5px 0px 0px;
                     
                     h3 {
                      font-family: FuturaBold;
                     font-size: 30px;
                     color: #0e61a8!important;
                     text-align: center;
                     display: block;
                         margin: 0;
                         padding: 0;
                         
                         a {
                            color: #0e61a8!important;
                         }
                         
                     }
                     
                     
                     span {
                        font-family: $font-family-sans-serif;
                         font-size: 18px;
                         color: #0e61a8;
                         text-align: center;
                         display: block;
                         margin-top: -10px;
                         
                     }
                 }
                    
                    
                  .white {
                    background-color: #fff;
                    color: $content-font-color;
                    min-height: 30px;
                    font-family: $font-family-sans-serif;
                      font-size: 16px;
                      font-weight: bold;
                      padding: 10px 0 0;
                }                  
                    
                
                a {
                  display: block;
                  text-decoration: none;
                  color: $content-font-color; 
                    
                }
                                     
                
                p, img {
                    display: block;
                    padding: 0;
                    margin: 0;
                    width: 80%;
                    //max-width: 280px;
                    //height: 113px;
                    margin-right: auto;
                    margin-left: auto;
                   // border: 2px solid $header-color;

                    
                      &:hover, &:active, &:focus {
                       // border: 2px solid $content-link-color;

                    }                  
                    
                }
                    

                
                }
                
                .tools-text-wrapper {
                    margin: 20px 0;
                p {
                    display: block;
                    width: 80%;
                    padding: 0;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: left;
                }
                }
            }
            
            
            .partners-wrapper {
                display: table;
                margin: 0 0 30px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                //background-color: #0154A0;
                background-color: rgba(255, 255, 255, 0.6);
                width: 90%;
                min-height: 212px;
                padding: 0 0 15px 0;
                
            .partners-header { 
                
                display: block;
                width: 100%;
                margin: 0 0 30px 0;
                padding: 10px;
                border-radius: 5px 5px 0px 0px;
                -moz-border-radius: 5px 5px 0px 0px;
                -webkit-border-radius: 5px 5px 0px 0px;              
                
                    h4 {
                        font-size: 20px;
                        font-weight: bold;
                        color: #fff;
                        //color: $content-font-color;
                        display: block;
                        text-align: left;
                        margin: 0;
                        
                        a {
                            color: #fff!important;
                        }
                    }
                
            }
                
                img {
                    display: block;
                    width: 200px;
                    border:0;
                    padding: 0;
                    margin: 0;
                }
                
                ul {
                    list-style-type: square !important;
                    text-align: left;
                    //color: #fff;
                    //margin-left: 20px;
                    
                    li {
                        line-height: 20px;
                        display: list-item;
                        margin: 0 0 10px;
                        
                        a {
                            //color: $nav-link-color;
                            text-decoration: underline;
                            
                            &:hover, &:active, &:focus {
                               // color: $nav-link-hover;
                            }
                            
                        }
                        
                        ul {
                            margin: 15px 0;
                        }

                    }
                    
                    
                }
                
                
            }          
            

 
        }
        /// FOR BORDER COLORS
        
                .ed { 
                   background-color: #748a39;
               }      
        
                .hhs{
                   background-color:#0154A0;  
               }
                
                .dhs {
                    background-color: #9e2935;   
                }
                
                .doj {
                    background-color: #ffd53f;  
                }
        
                 .noaa {
                    background-color: #007ec6;  
                }       
                
                .doa {
                    background-color: #6ab541;
                }
        
                .gsa {
                    
                    background-color: #005087;
                    
                }
        
                .trans {
                    
                    background-color: #356192;
                }
  
        
    }
  
}