.rems-toolkit-content {



    .right-content {

 
        .image-row-wrap {
    
            
            .text-image {
 
                
            .image-wrapper {

                
                span {
    
                }
            
            
            img {

            }
                
                
            }
            
            }
            
            .tools-image {

                
                .tools-image-wrapper {
            
                    
                  span {
      
                }                  
                    
                
                img {               
                    
                }
                
                }
                
                .tools-text-wrapper {
                
                p {

                }
                    
                }
            }
            
            
            .partners-wrapper {


                
                img {
 
                }
                

                
                
            }          
            
   
 
        }
        
     
        
        
        
        
    }
  
}






    @media only screen and (max-width : 1550px) {
        
        
 .rems-toolkit-content {



    .right-content {

 
        .image-row-wrap {
    
            
            .text-image {
 
                
            .image-wrapper {
                

                span {

                }
            
            
            img {

            }
                
                
            }
            
            }
            
            .tools-image {

                
                .tools-image-wrapper {
           
                  
                  span {
                      
                }                  
                    
                
                img {               
                 
                   
                }
                
                }
                
                .tools-text-wrapper {
                
                p {
                   
                }
                    
                }
            }
            
            
            .partners-wrapper {


                
                img {
 
                }
                

                
                
            }          
            
   
 
        }
        
     
        
        
        
        
    }
  
}       
        
        
        
        
        

    }