.rems-toolkit-content {

    .right-content {

        
        h2 {

        }
            
      
        .image-row-wrap {

            
            .text-image {

                
            .image-wrapper {
                
                margin-bottom: 30px;
                
                span {
      
                }
            
            
            img {

            }
                
            }

            }
            
            .tools-image {

                
                .tools-image-wrapper {
                    
                    margin-right: auto;
                    margin-left: auto;
          
                  span {

      
                }                  
                    
                
                img {
            
                    
                }
                
                }
                
                .tools-text-wrapper {

                p {

                }
                    
                    
                }
                
            }
            
            
            .partners-wrapper {

                
                img {


                }
                

                
                
            }          
            
   
 
        }
        
     
        
        
        
        
    }
  
}