.rems-toolkit-content {

    .right-content {
        padding: 20px;
        
        h2 {
            font-size: 23px;
            margin-bottom: 10px;
        }
        
            .first {
                    margin: 30px 0 0;
                }            
        
        
             .last {
                    margin: 0 0 30px;
                }
            
        
        .content-text {
            padding: 20px;
            width: 100%;
            
            h3 {
                margin-bottom: 10px;
            }
                    
               img {
                float: none;
                margin-right: auto;
                   margin-left: auto;
            }         
            .list-wrapper {
              
                
                ul {
                    margin: 0;
                    padding: 0 0 0 15px;
                    
                    li {

                    }
                }
                
                ul.none {
                    
                }  
                
            }
            
        }
  
        
     .map-wrapper {

        margin: 20px 0 30px;
      
      img {

         
      }
      
  }        
        
        .image-row-wrap {

                margin:0;
            
            .text-image {

                
            .image-wrapper {
                display: block;
                margin-bottom: 20px;

                
                
                span {
      
                }
            
            
            img {


            }
                
            }

            }
            
            .tools-image {

                margin-bottom: 20px;
                
                .tools-image-wrapper {
                    display: block;
                    margin-bottom: 20px;
                    margin-right: auto;
                    margin-left: auto;
                    width: 90%;
                

                    
                    
                  span {
                   
                      top: 0;
      
                }                  
                    
                
                img {
              
                    
                }
                
                }
                
                .tools-text-wrapper {

                p {
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                }
                    
                    
                }
                
            }
            
            
            .partners-wrapper {
                width: 100%;
                padding: 0;
                text-align: center;
                
            .partners-header { 
                margin: 0 0 20px 0;
                
                h4 {
                    display: block;
                    font-size: 18px;
                    text-align: center;
                    margin-right: auto;
                    margin-left: auto;
                   
                }
                
            }
                
                img {

                    width: 150px;

                }
                
                ul {
                    margin: 0;
                    
                    li {
                        
                        ul {
                            margin-left: -15px;
                        }
                    }
                    
                }
                
                
            }          
            
   
 
        }
        
     
        
        
        
        
    }
  
}