// Component alignment
//
// Reiterate per navbar.less and the modified component alignment there.
.navbar-right {
  .dropdown-menu {
    right: 0; left: auto;
  }
  // Necessary for overrides of the default right aligned menu.
  // Will remove come v4 in all likelihood.
  .dropdown-menu-left {
    left: 0; right: auto;
  }
}