@include responsive-visibility('.visible-xs');

.visible-xs-block {
	display: block !important;
}
.visible-xs-inline {
    display: inline !important;
}
.visible-xs-inline-block {
    display: inline-block !important;
}

@include responsive-invisibility('.hidden-xs');